{% extends 'JgeBundle::base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row container-col">
            <div class="col-xl">
                {% for art in articles %}
                    <h1>{{ art.titleArticle }}</h1>
                    {% if arti.imageHeadArticle is not empty %}
                        <img src="{{ asset('uploads/pictures/' ~ art.imageHeadArticle) }}" alt="img-article">
                    {% endif %}
                    <p>{{ art.contentArticle }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}