{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Liste des Membres</h1>
    <hr>

    {#Création d'un tableau responsive et nom des têtes de colonne#}
    <table class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Sous-Catégorie</th>
                <th>Arbitre</th>
                <th>Entraineur</th>
                <th>Responsable</th>

            </tr>
            </thead>

            {#Bouton Créer un nouveau membre#}
            <ul class="list-inline">
                <li>
                    <a href="{{ path('admin_member_new') }}" class="btn btn-xs btn-success">
                        Créer un nouveau membre
                    </a>
                </li>
            </ul>

            {#Afficher la liste des membres#}
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.nameMember }}</td>
                    <td>{{ member.firstNameMember }}</td>
                    <td>{{ member.dobMember|date('d/m/y') }}</td>
                    <td>{{ member.player.subCategory.nameSubCategory }}</td>
                    <td>{{ member.refereeMember  ? "oui":"non" }}</td>
                    <td>{{ member.coachMember  ? "oui":"non"}}</td>
                    <td>{{ member.managerMember  ? "oui":"non"}}</td>

                    {#Bouton Détail du membre#}
                    <td class="list-inline">
                        <a href="{{ path('admin_member_show', { 'id': member.id }) }}"
                           class="btn btn-xs btn-primary">
                            Détail
                        </a>
                    </td>
                    {#Bouton Edit du membre#}
                    <td class="list-inline">
                        <a href="{{ path('admin_member_edit', { 'id': member.id }) }}"
                           class="btn btn-xs btn-warning">
                            Modifier
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </table>
    </div>
    <hr>


{% endblock %}