{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-4">
        <h1>Création de Membre</h1>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <hr>
    </div>

    <ul class="list-inline">
    <li>
    <a href="{{ path('admin_member_index') }}" class="btn btn-sm btn-default">
    Retour à la liste des membres
    </a>
    </li>
    </ul>
</div>
{% endblock %}