{% extends 'JgeBundle::Admin/home.html.twig' %}

{% block body %}
    <h1>Membre</h1>
    <hr>

<div class="row">
    <div class="col-md-5 offset=1">
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ member.id }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ member.firstNameMember }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ member.nameMember }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ member.addressMember }}</td>
        </tr>
        <tr>
            <th>Code Postal</th>
            <td>{{ member.pCMember }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ member.cityMember }}</td>
        </tr>
        <tr>
            <th>Code Postal</th>
            <td>{{ member.pCMember }}</td>
        </tr>
        <tr>
            <th>Numéro de téléphone</th>
            <td>{{ member.phoneMember }}</td>
        </tr>
        <tr>
            <th>Adresse email</th>
            <td>{{ member.emailMember }}</td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td>{{ member.dobMember|date('d/m/y')}}</td>
        </tr>
        <tr>
            <th>Numéro de licence</th>
            <td>{{ member.numMember }}</td>
        </tr>
        <tr>
            <th>Code d'accès</th>
            <td>{{ member.codeAccessMember }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td>{{ member.photoMember }}</td>
        </tr>
        <tr>
            <th>Sexe</th>
            <td>{{ member.sexMember }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="col-md-5 offset=1">
        <table class="table">
            <tbody>
            <tr>
                <th>Arbitre</th>
                <td>{{ member.refereeMember ? "oui":"non"}}</td>
            </tr>
            <tr>
                <th>Entraineur</th>
                <td>{{ member.coachMember ? "oui":"non" }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ member.managerMember ? "oui":"non"}}</td>
            </tr>
            <tr>
                <th>Taille de maillot du joueur</th>
                <td>{{ member.player.sizePlayer }}</td>
            </tr>
            <tr>
                <th>Pointure de chaussures du joueur</th>
                <td>{{ member.player.shoesSizePlayer }}</td>
            </tr>
            <tr>
                <th>Sous-catégorie du joueur</th>
                <td>{{ member.player.subCategory.nameSubCategory }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_member_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des membres
            </a>
        </li>
        <li>
            <a href="{{ path('admin_member_edit', { 'id': member.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
