{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Liste des administrateurs</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Pseudo</th>
                <th>Mot de passe</th>
                <th>Accès administrateur</th>
                <th>Accès responsable</th>
                <th>Accès rédacteur</th>
            </tr>
            </thead>

            <ul class="list-inline">
                <li>
                    <a href="{{ path('admin_administrator_new') }}" class="btn btn-xs btn-success">
                        Créer un nouvel administrateur
                    </a>
                </li>
            </ul>
            <tbody>
            {% for administrator in administrators %}
                <tr>
                    <td>
                        <a href="{{ path('admin_administrator_show', { 'id': administrator.id }) }}">
                            {{ administrator.nameAdmin }}
                        </a>
                    </td>
                    <td>{{ administrator.firstNameAdmin }}</td>
                    <td>{{ administrator.emailAdmin }}</td>
                    <td>{{ administrator.pseudoAdmin }}</td>
                    <td>{{ administrator.passwordAdmin }}</td>
                    <td>{{ administrator.accessAdmin ? "oui":"non"}}</td>
                    <td>{{ administrator.accessResponsableAdmin ? "oui":"non"}}</td>
                    <td>{{ administrator.accessRedactorAdmin ? "oui":"non"}}</td>


                    <td>
                        <a href="{{ path('admin_administrator_show', { 'id': administrator.id }) }}"
                           class="btn btn-xs btn-primary">
                            Détail
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_administrator_edit', { 'id': administrator.id }) }}"
                           class="btn btn-xs btn-warning">
                            Modifier
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

{% endblock %}