{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détail de l'administrateur "{{ administrator.nameAdmin }} {{ administrator.firstNameAdmin }}"</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ administrator.nameAdmin }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ administrator.firstNameAdmin }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ administrator.emailAdmin }}</td>
        </tr>
        <tr>
            <th>Pseudo</th>
            <td>{{ administrator.pseudoAdmin }}</td>
        </tr>
        <tr>
            <th>Mot de passe</th>
            <td>{{ administrator.passwordAdmin }}</td>
        </tr>
        <tr>
            <th>Accès administrateur</th>
            <td>{{ administrator.accessAdmin ? "oui":"non"}}</td>

        </tr>
        <tr>
            <th>Accès responsable</th>
           <td>{{  administrator.accessResponsableAdmin ? "oui":"non"}}</td>

        </tr>
        <tr>
            <th>Accès rédacteur</th>
            <td>{{  administrator.accessRedactorAdmin ? "oui":"non"}}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_administrator_index') }}" class="btn btn-xs btn-default">
                Retour à la liste des administrateurs
            </a>
        </li>
        <li>
            <a href="{{ path('admin_administrator_edit', { 'id': administrator.id }) }}"
               class="btn btn-xs btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}