{% extends "JgeBundle::base.html.twig" %}


{% block body %}
    <div class="container">
        <div class="row container-col">
            <div class="col-xl">
                <h1>A propos du club : </h1>
                <div class="row">
                    <div class="col-lg-5 offset-1">
                        {% for art in articles %}
                            <div class="box-container">
                                <h5>{{ art.titleArticle }}</h5>
                                {% if arti.imageHeadArticle is not empty %}
                                    <img src="{{ asset('uploads/pictures/' ~ art.imageHeadArticle) }}" alt="img-article">
                                {% endif %}
                                <p>{{ art.contentArticle| raw }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 offset-1">
                        <div>
                            <h3>Fiche technique :</h3>
                            {% for article in articleTech %}
                            {{ article.contentArticle | raw }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}