{% extends 'JgeBundle::base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row container-col">
            <div class="col-xl">
                <h1>Nos arbitres : </h1>
                <div class="row">
                    {% for ref in referees %}
                     <div class="col-md">
                         <h6>{{ ref.nameMember }}</h6>
                         {% if arti.imageHeadArticle is not empty %}
                             <img src="{{ asset('uploads/pictures/' ~ ref.imageHeadArticle) }}" alt="img-article">
                         {% endif %}
                     </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}