{% extends 'JgeBundle::base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xl">
                {% for arti in articles %}
                    <div class="box-container center">
                        <h1>{{ arti.titleArticle }}</h1>
                        <p>{{ arti.contentArticle|raw }}</p>
                    {% if arti.imageHeadArticle is not empty %}
                        <img src="{{ asset('uploads/pictures/' ~ arti.imageHeadArticle) }}" alt="img-article">
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}