{% extends 'JgeBundle::base.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row container-col">
            <div class="col-xl-3">
                <nav class="navigation">
                    <ul class="btn-group-vertical mainmenu">
                        {% for categ in category %}
                            <button class="btn btn-outline-success">{{ categ.nameCategory }}
                                <ul class="submenu">
                                    {% for team in categ.teams  %}

                                        <li><a href="{{ path('page_club_teamdetail',
                                            {'id': team.id }) }}">{{ team.nameTeam }}</a></li>

                                    {% endfor %}
                                </ul>
                            </button>
                        {% endfor %}

                    </ul>
                </nav>
            </div>
            <div class="col-xl-9">
                {% for art in articles %}
                    <h1>{{ art.titleArticle }}</h1>
                    {% if arti.imageHeadArticle is not empty %}
                        <img src="{{ asset('uploads/pictures/' ~ art.imageHeadArticle) }}" alt="img-article">
                    {% endif %}
                    <p>{{ art.contentArticle }}</p>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}