{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Liste des convocations</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
                <tr>
                    <th>Lieu du match</th>
                    <th>Heure de début de match</th>
                    <th>Heure de fin de match</th>
                    <th>Heure de rdv</th>
                    <th>Commentaire</th>
                    <th>Créée le</th>
                    <th>Mise à jour le</th>
                    <th>Détails</th>
                </tr>
            </thead>

            {# Bouton Créer une nouvelle convocation #}
            <ul class="list-inline">
                <li>
                    <a href="{{ path('admin_convocation_new') }}" class="btn btn-xs btn-success">
                        Créer une nouvelle convocation
                    </a>
                </li>
            </ul>

            {#Afficher la liste des convocations #}
            <tbody>
            {% for convocation in convocations %}
                 <tr>
                     <td> {{ convocation.locationConvocation }} </td>
                     <td> {{ convocation.hStartConvocation | date('d/m/y h:m') }} </td>
                     <td> {{ convocation.hEndConvocation| date('d/m/y h:m') }} </td>
                     <td> {{ convocation.hConvocation| date('d/m/y h:m') }} </td>
                     <td> {{ convocation.commentConvocation }} </td>
                     <td> {{ convocation.dateCreatedConvocation| date('d/m/y h:m') }} </td>
                     <td> {{ convocation.dateUpdatedConvocation| date('d/m/y h:m') }} </td>
                     <td>
                         <ul class="list-inline">
                             <li>
                                 <a href="{{ path('admin_convocation_show', { 'id': convocation.id }) }}"
                                    class="btn btn-xs btn-primary">
                                     Détails
                                 </a>
                             </li>
                         </ul>
                     </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



