{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1> Détails de la convocation </h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <tbody>
                <tr>
                    <th>Lieu</th>
                    <td> {{ convocation.locationConvocation }} </td>
                </tr>
                <tr>
                    <th> Heure de début de match </th>
                    <td> {{ convocation.hStartConvocation | date('d/m/y h:m') }} </td>
                </tr>
                <tr>
                    <th> Heure de fin de match </th>
                    <td> {{ convocation.hEndConvocation| date('d/m/y h:m') }} </td>
                </tr>
                <tr>
                    <th> Commentaire </th>
                    <td> {{ convocation.commentConvocation }} </td>
                </tr>
                <tr>
                    <th> Créée le </th>
                    <td> {{ convocation.dateCreatedConvocation| date('d/m/y h:m') }} </td>
                </tr>
                <tr>
                    <th> Heure </th>
                    <td> {{ convocation.hConvocation| date('d/m/y h:m') }} </td>
                </tr>
                <tr>
                    <th> Mise à jour le </th>
                    <td> {{ convocation.dateUpdatedConvocation| date('d/m/y h:m') }} </td>
                </tr>
                <tr>
                    <th> Membres Convoqués </th>
                </tr>
                {% for member in convocation.members %}
                    <tr>
                        <td> {{ member.firstNameMember }} </td>
                        <td> {{ member.nameMember }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_convocation_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('admin_convocation_edit', { 'id': convocation.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
