
<nav class="navigation">
    <ul class="btn-group-vertical mainmenu">
        <button class="btn btn-outline-success">Seniors
            <ul class="submenu">
                <li><a href="/resultats/Seniors/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/Seniors/Equipe-B">Equipe B</a></li>
                <li><a href="/resultats/Seniors/Equipe-C">Equipe C</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success">Veterans
            <ul class="submenu">
                <li><a href="/resultats/Veterans/Equipe-A">Equipe A</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >Loisirs
            <ul class="submenu">
                <li><a href="/resultats/Loisirs/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/Loisirs/Equipe-B">Equipe B</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >U16 U17 U18
            <ul class="submenu">
                <li><a href="/resultats/U16-U17-U18/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/U16-U17-U18/Equipe-B">Equipe B</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >U14 U15
            <ul class="submenu">
                <li><a href="/resultats/U14-U15/Equipe-A">Equipe A</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >U12 U13
            <ul class="submenu">
                <li><a href="/resultats/U12-U13/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/U12-U13/Equipe-B">Equipe B</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >U10 U11
            <ul class="submenu">
                <li><a href="/resultats/U10-U11/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/U10-U11/Equipe-B">Equipe B</a></li>
                <li><a href="/resultats/U10-U11/Equipe-C">Equipe C</a></li>
                <li><a href="/resultats/U10-U11/Equipe-D">Equipe D</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >U8 U9
            <ul class="submenu">
                <li><a href="/resultats/U8-U9/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/U8-U9/Equipe-B">Equipe B</a></li>
                <li><a href="/resultats/U8-U9/Equipe-C">Equipe C</a></li>
            </ul>
        </button>
        <button class="btn btn-outline-success" >U6 U7
            <ul class="submenu">
                <li><a href="/resultats/U6-U7/Equipe-A">Equipe A</a></li>
                <li><a href="/resultats/U6-U7/Equipe-B">Equipe B</a></li>
                <li><a href="/resultats/U6-U7/Equipe-C">Equipe C</a></li>
            </ul>
        </button>
    </ul>
</nav>