{% extends 'JgeBundle::base.html.twig' %}

{% block body %}

    <div id="results">
        <div class="container">
            <div class="row">
                <div class="col-md-3 container-col">
                    <nav class="navigation">
                        <ul class="btn-group-vertical mainmenu">

                            {% for categ in category %}
                            <button class="btn btn-outline-success">{{ categ.nameCategory }}
                                <ul class="submenu">
                                    {% for team in categ.teams  %}

                                    <li><a href="{{ path('page_result_team',
                                        {'id_team': team.id }) }}">{{ team.nameTeam }}</a></li>

                                    {% endfor %}
                                </ul>
                            </button>
                            {% endfor %}

                        </ul>
                    </nav>
                </div>
                <div class="col-xl-9">
                    <div>
                        <h3> Derniers résultats de la JGE Sucé : </h3>
                        <table class="table table-striped">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Date</th>
                                <th>Rencontre</th>
                                <th>Categorie</th>
                                <th>Score</th>
                                <th>Type de match</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.dateEvent|date('d/m/y') }}</td>
                                    <td>Jge Sucé {{ event.team.nameTeam }} - {{ event.teamAdvEvent }}</td>
                                    <td>{{ event.team.category.nameCategory }}</td>
                                    <td>{{ event.scoreDomEvent }} - {{ event.scoreAdvEvent }}</td>
                                    <td>{{  event.competition.nameCompetition }}</td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}