<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-2">
                <span class="text-muted">Contact :</span>
                <ul>
                    <li>Adresse : La Papinière, 44240 Sucé-sur-Erdre</li>
                    <li>Téléphone : 02 40 77 79 33 </li>
                </ul>
                <ul>
                    <li><a href="/mentions-legales">Mentions légales</a></li>
                    <li><a href="/plan-du-site">Plan du site</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <iframe
                        title="Nous rejoindre :"
                        width="200"
                        height="150"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC91--B32AkuLJ8lGcZNlQzPUQYiXiWZp0
                            &q=JGE+sucé+sur+erdre+44240">
                </iframe>
            </div>
        </div>
    </div>
</footer>
