
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3  offset-1">
                        <img id="logo-club" src="http://www.jgefoot.com/img/logo-jge-200x223.png" alt="logo-jge"/>
                    </div>
                    <div class="col-md-6">
                        <h1>JGE <small>Football Club</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>