<nav id="nav" class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {#<a class="navbar-brand" href="/">JGE Football Club</a>#}
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"> Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resultats"> Match</a>
            </li>
            {% if app.session.get('member') is not null %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('page_convocation_index') }}">Convocations</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Le club
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/club/a_propos">A propos</a>
                    <a class="dropdown-item" href="/club/bureau">Le bureau</a>
                    <a class="dropdown-item" href="/club/staff">Le staff</a>
                    <a class="dropdown-item" href="/club/equipes">Les équipes</a>
                    <a class="dropdown-item" href="/club/arbitres">Les arbitres</a>
                    <a class="dropdown-item" href="/club/stade">Le stade</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Le Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/partenaires">Partenaires</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/boutique">Boutique</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inscriptions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/inscription/club">Au club</a>
                    <a class="dropdown-item" href="/inscription/stage">Aux stages</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        {% if app.session.get('member') is null %}
        <div class="navbar-nav">
            <a class="nav-item nav-link active"  href="{{ path('page_convocation_index') }}"> Se connecter <span class="sr-only">(current)</span></a>
        </div>
        {% endif %}
        {% if app.session.get('member') is not null %}
            <div class="navbar-nav">
                <a class="nav-item nav-link active"  href="{{ path('page_convocation_logout') }}"> Se déconnecter <span class="sr-only">(current)</span></a>
            </div>
        {% endif %}
    </div>
</nav>