{% extends "JgeBundle::Admin/baseAdmin.html.twig" %}

{% block body %}

    <h1>Liste des Equipes</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <ul class="list-inline">
                <li>
                    <a href="{{ path('admin_team_new') }}" class="btn btn-xs btn-success">
                        Créer une nouvelle équipe
                    </a>
                </li>
            </ul>
            <tr>
                <th>Nom de l'équipe</th>
                <th>Nom de la catégorie</th>
            </tr>
            </thead>

            <tbody>
            {% for team in teams %}
                <tr>
                    <td>
                            {{ team.nameTeam }}
                    </td>
                    <td>
                        {{ team.category.nameCategory }}
                    </td>
                    <td class="list-inline">

                                <a href="{{ path('admin_team_show', { 'id': team.id }) }}"
                                   class="btn btn-xs btn-primary">
                                    Détail
                                </a>
                    </td>
                    <td class="list-inline">
                                <a href="{{ path('admin_team_edit', { 'id': team.id }) }}"
                                   class="btn btn-xs btn-warning">
                                    Modifier
                                </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}