{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détails de l'équipe "{{ team.nameTeam }}"</h1>
    <hr>
        Catégorie : {{ team.category.nameCategory }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_team_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des équipes
            </a>
        </li>
        <li>
            <a href="{{ path('admin_team_edit', { 'id': team.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}