<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}JGE Football Club{% endblock %}</title>
    {% block stylesheets  %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/jge/css/index.css') }}">
    {% endblock stylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% include "JgeBundle::Admin/headerAdmin.html.twig" %}
<div class="container col-md-12">
    <div class="row container-col">
        {% block nav %}
            <div class="col-md-3">
                <div class="btn-group-vertical">
                    <button class="btn btn-success">Gestion des Articles</button>
                    <a href="/admin/category-article" class="btn btn-secondary btn-md">Liste des catégories d'articles</a>
                    <a href="/admin/article" class="btn btn-secondary">Liste des Articles</a>

                    <button class="btn btn-success">Gestion des Membres</button>

                    <a href="/admin/member" class="btn btn-secondary">Liste des Membres</a>
                    <a href="/admin/category" class="btn btn-secondary">Liste des Catégories</a>
                    <a href="/admin/sub-category" class="btn btn-secondary">Liste des Sous-Catégories</a>

                    <button class="btn btn-success">Gestion des Matchs</button>
                    <a href="/admin/event" class="btn btn-secondary">Liste des Matchs</a>
                    <a href="/admin/convocation" class="btn btn-secondary">Liste des Convocations</a>
                    <a href="/admin/competition" class="btn btn-secondary">Liste des Compétitions</a>
                    <a href="/admin/team" class="btn btn-secondary">Liste des Equipes</a>

                    <button class="btn btn-success">Gestion des Administrateurs</button>
                    <a href="/admin/administrator" class="btn btn-secondary">Liste des Administrateurs</a>

                    <button class="btn btn-success">Gestion des Partenaires</button>
                    <a href="/admin/sponsor" class="btn btn-secondary">Liste des partenaires</a>

                </div>
            </div>
            {% endblock %}
            <div class="col-md">
            {% block body %}


            {% endblock %}
            </div>
        </div>
    </div>
</div>
{#{% include "JgeBundle::footer.html.twig" %}#}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>