<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}JGE Football Club{% endblock %}</title>
    {% block stylesheets  %}

        <link rel="stylesheet" href="{{ asset('bundles/Jge/css/error403.css') }}">
    {% endblock stylesheets %}

</head>

<body>

<div id="conteneur">
    <div>
        <img src={{ asset("bundles/Jge/image/redcard.png") }}>
    </div>

    <div>
        <h1>Erreur 403</h1>
        <h2>Vous ne disposez pas des droits suffisants pour accèder à cette page</h2>
    </div>
</div>


</body>
</html>