<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 offset-1">
                        <img id="logo-club" src="http://www.jgefoot.com/img/logo-jge-200x223.png" alt="logo-jge"/>
                    </div>
                    <div class="col-md-5">
                        <h1>Administration<br/><small>JGE Football Club</small></h1>
                    </div>
                    <div class="col-md-2 offset-1">
                        <a id="logout-btn" class="btn btn-danger" href="{{ path('admin_logout') }}">Se déconnecter</a>
                        <a id="home-btn" href="{{ path('page_home') }}" class="btn btn-primary">Site JGE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>