{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}


{% block body %}

        <div class="row">
            <div class="col-md offset-1">
                <h1>Bienvenue dans l'espace d'administration du site</h1>
                <br>
                <h3>Vous êtes connecté en tant que {{ name }} {{ firstName }}</h3>
            </div>
        </div>

{% endblock %}