<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}JGE Football Club{% endblock %}</title>
    {% block stylesheets  %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/Jge/css/index.css') }}">
    {% endblock stylesheets %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3  offset-1">
                        <img id="logo-club" src="http://www.jgefoot.com/img/logo-jge-200x223.png" alt="logo-jge"/>
                    </div>
                    <div class="col-md-5">
                        <h1>Administration<br/><small>JGE Football Club</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}

{% block body %}

    <div id="admin-container" class="container">

        <form class="form-signin" action="" method="POST">
            <h2 class="form-signin-heading">Connexion </h2>
            <label for="username" class="sr-only">Pseudo</label>
            <input type="text" id="username" class="form-control" placeholder="Pseudo" name="username" required autofocus>
            <label for="password" class="sr-only">Mot de passe</label>
            <input type="password" id="password" class="form-control" placeholder="Mot de passe" name="password" required>
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Connexion">Se connecter</button>
        </form>
    </div>

{% endblock %}


{% include "JgeBundle::footer.html.twig" %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>


