{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Liste des matchs</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <tr>
                <th>Date de l'évènement</th>
                <th>Equipe domicile</th>
                <th>Equipe adverse</th>
                <th>lieu du match</th>
                <th>Score de l'équipe domicile</th>
                <th>Score de l'équipe adverse</th>
                <th>Type de compétition</th>
            </tr>
            </thead>
            <ul class="list-inline">
                <li>
                    <a href="{{ path('admin_event_new') }}" class="btn btn-xs btn-success">
                        Créer un nouveau match
                    </a>
                </li>
            </ul>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.dateEvent|date('d/m/y') }}</td>
                    <td>{{ event.team.nameTeam }}</td>
                    <td>{{ event.teamAdvEvent }}</td>
                    <td>{{ event.locationEvent }}</td>
                    <td>{{ event.scoreDomEvent }}</td>
                    <td>{{ event.scoreAdvEvent }}</td>
                    <td>{{ event.competition.nameCompetition }}</td>
                    <td class="list-inline">
                                <a href="{{ path('admin_event_show', { 'id': event.id }) }}"
                                   class="btn btn-xs btn-primary">
                                    Détail
                                </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_event_edit', { 'id': event.id }) }}"
                           class="btn btn-xs btn-warning">
                            Modifier
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

{% endblock %}