{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détail du match du "{{ event.dateEvent|date('d/m/y') }}"</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Date du match</th>
            <td>{{ event.dateEvent|date('d/m/y') }}</td>
        </tr>
        <tr>
            <th>Equipe domicile</th>
            <td>{{ event.team.nameTeam }}</td>
        </tr>
        <tr>
            <th>Equipe adverse</th>
            <td>{{ event.teamAdvEvent }}</td>
        </tr>
        <tr>
            <th>lieu du match</th>
            <td>{{ event.locationEvent }}</td>
        </tr>
        <tr>
            <th>Score de l'équipe domicile</th>
            <td>{{ event.scoreDomEvent }}</td>
        </tr>
        <tr>
            <th>Score de l'équipe adverse</th>
            <td>{{ event.scoreAdvEvent }}</td>
        </tr>
        <tr>
            <th>Type de compétition</th>
            <td>{{ event.competition.nameCompetition }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_event_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}