body {
    background-color: lightsteelblue;
}

#conteneur {
    display: flex;
}

img {
    margin-top: 150px;
}

h1 {
    margin-top: 250px;
    color: white;
    font-size: 450%;
}

h2 {
    color: white;
    font-size: 250%;
}