/* GENERAL CSS RULES */

.center {
    text-align: center;
}
.table-responsive{
    border: 3px;
    border-color: #6b9311;
    border-radius: 10px;
    padding: 20px;
}

.container-col {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ResultPage */

#results h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Menu des équipes  */
.mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mainmenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
}

.mainmenu button:hover .submenu {
    display: block;
    max-height: 300px;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 1s ease-out;
}
.navigation a {
    color: white;
}
                                        /* HEADER */

header {
/*backgroundColor: '#006400',*/
background-color: #66aa2c;
border-bottom: 2px solid black;
}
header h1 {
    font-size: 80px;
    color: white;
    text-shadow: 5px 5px 9px black;
    margin-top: 20px;
}

#logo-club {
    max-height: 190px ;
    max-width: 240px;
    margin-top: 10px;
}
/* Navbar */

#nav {
    border: 1px solid grey;
    box-shadow: 6px 6px 6px;
}


                                        /* FOOTER */

#footer-container {
    margin-top: 20px;
}
#footer-img {
    height: 100px;
    width: 80px;
    display: block;
    margin: 0 auto;
}
footer {
    margin-top: 20px;
    padding: 30px;
    border-top: 1px solid grey;
    background-color: #efefef;
}
ul {
    list-style: none;
}

                                        /* HOMEPAGE */

/* Events css rules */

.box-container  {
    margin-top: 50px;
    margin-bottom: 50px;
}
.box-container a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.event-img {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 300px;
}
.content-container {
    padding: 20px;
}

/* Last Articles */

#last-articles {
    border: 3px solid green;
    border-radius: 50px;
    padding: 20px;
}
.article i {
    margin-top: 20px;
    margin-bottom: 20px;
}
.article {
    padding: 20px;
}
.article h5 {
    text-align: center;
}
.article img {
    max-width: 200px;
    max-height: 200px;
}

/* Blog */

/* Article Detail */
#article-detail h1 {
    text-align: center;
}

#article-detail img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 300px;
}

#blog h2 {
    text-align: center;
}

#blog-menu {
    background-color: #eee;
    border: 1px solid black;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 20px;
}
.blog-menu-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Login */

#login-form {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ADMIN */

/* login */

#admin-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* Home */

#logout-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0;
}


