{% for article in articles  %}

    {% set articleUrl = path('page_blog_article', {
    'article_id': article.id })  %}

    {#{% set caeUrl = path('page_blog_article', {
    'article_id': article.id })  %}   #}

<div class="article">
    <h5>{{ article.titleArticle }}</h5>
    <i>Publié le {{ article.dateCreatedArticle|date('d/m/y') }}</i>
    <div class="row">
        <div class="col-md-7">
            <p>{{ article.contentArticle| striptags | slice(0, 200) }}...
                <a href="{{ articleUrl }}" class="btn btn-outline-danger btn-sm">Lire la suite</a></p>
        </div>
        <div class="col-md-3">
            <img style="height: 200px; width: 200px;" src="{{ asset('uploads/pictures/' ~ article.imageHeadArticle) }}" alt="img-article">
        </div>
    </div>
</div>

{% endfor %}

