{% extends 'JgeBundle::base.html.twig' %}



{% block body %}
    <div class="container">
        <div class="row container-col">
            <div class="col-md-6 offset-3">
                <h1>Contactez nous :</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock %}