{% extends "JgeBundle::base.html.twig" %}

{% block body %}
    <div class="container-col">
        <div class="container">
            <div class="row">
                <div id="news" class="col-md-10 offset-1">
                    <div class="row">
                        {% for lastArticle in lastArticle %}
                            <div class="col-md">
                                <img src="{{ asset('uploads/pictures/' ~ lastArticle.imageHeadArticle) }}" alt="img-article">
                            </div>

                            <div id="content-news" class="col-md">
                                <h3>{{ lastArticle.titleArticle }}</h3>
                                <p>{{ lastArticle.contentArticle | raw | striptags | slice(0, 50)}}</p>

                                <a class="btn btn-outline-success btn-sm" href="{{ path('page_blog_article', {'article_id': lastArticle.id }) }}">En savoir plus</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% for latestPost in articles %}
                    <div class="col-md offset-1 box-container">
                        <h3>{{ latestPost.titleArticle }}</h3>
                        <hr>
                        <i>publié le {{ latestPost.dateCreatedArticle|date('d/m/y') }} par </i>
                        {{ latestPost.admin.NameAdmin }} {{ latestPost.admin.FirstNameAdmin }}
                        <br>
                        <img style="height: 200px; width: 200px;" src="{{ asset('uploads/pictures/' ~ latestPost.imageHeadArticle) }}" alt="img-article">
                        <p>{{ latestPost.contentArticle | raw | striptags | slice(0, 100)}}</p>
                        <a class="btn btn-outline-success btn-sm" href="{{ path('page_blog_article', {'article_id': latestPost.id }) }}">En savoir plus</a>
                    </div>
                {% endfor %}
            </div>
            <hr/>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div id="last-results" class="col-lg-6">
                    <table class="table table-striped">

                        <h4>Derniers Résultats : </h4>

                        <thead>
                        <tr>
                            <th>Date de match</th>
                            <th>Championnat</th>
                            <th>Adversaire</th>
                            <th>Score Adversaire</th>
                            <th>Score Equipe JGE</th>
                            <th><img id="footer-img" src="http://www.jgefoot.com/img/logo-jge-200x223.png" alt="logo-club"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for lastEvents in latestEvents %}
                            {% if lastEvents.scoreAdvEvent is not empty %}
                                <tr>
                                    <td>{{ lastEvents.dateEvent|date('d/m/y') }}</td>
                                    <td>{{ lastEvents.competition.nameCompetition }}</td>
                                    <td>{{ lastEvents.teamAdvEvent | capitalize }}</td>
                                    <td>{{ lastEvents.scoreAdvEvent }}</td>
                                    <td>{{ lastEvents.scoreDomEvent }}</td>
                                    <td>{{ lastEvents.team.nameTeam }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="next-matchs" class="col-lg-6">
                    <table class="table table-striped">
                        <h4>Prochains Matchs : </h4>
                        <thead>
                        <tr>
                            <th>Date de match</th>
                            <th>Championnat</th>
                            <th>Adversaire</th>
                            <th><img id="footer-img" src="http://www.jgefoot.com/img/logo-jge-200x223.png" alt="logo-club"/></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for lastEvents in latestEvents %}
                            {% if lastEvents.scoreAdvEvent is empty %}
                                <tr>
                                    <td>{{ lastEvents.dateEvent|date('d/m/y') }}</td>
                                    <td>{{ lastEvents.competition.nameCompetition }}</td>
                                    <td>{{ lastEvents.teamAdvEvent }}</td>
                                    <td>{{ lastEvents.team.nameTeam }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}