{% extends 'JgeBundle::base.html.twig' %}



{% block body %}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div>
        <div id="login-form" class="container">

            <div class="row">
                <div class="col-md-3 offset-5">
                    <form  class="form-group" id="login-form-member" action="" method="POST">
                        <input class="form-control" type="text" id="accessCode" name="accessCode" placeholder="Code d'accès à l'espace membre" required autofocus>
                        <br>
                        <button class="btn btn-success" type="submit"> Se connecter </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}