{% extends 'JgeBundle::base.html.twig' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md container-col">
                <h3>Nos partenaires : </h3>
                <div class="row">
                    {% for sponsor in sponsors %}
                    <div class="col-md box-container">
                        <a href="{{ sponsor.webSiteSponsor }}"><img src="{{ asset('uploads/pictures/logo/' ~ sponsor.imageSponsor) }}" alt="img-sponsor"></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}