{% extends 'JgeBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md container-col">
                <h3>Nos articles disponibles: </h3>
                <div class="row">
                    {% for art in articles %}
                        <div class="col">
                            <h6>{{ art.titleArticle }}</h6>
                            {% if arti.imageHeadArticle is not empty %}
                                <img src="{{ asset('uploads/pictures/' ~ arti.imageHeadArticle) }}" alt="img-article">
                            {% endif %}
                            <p>{{ art.contentArticle }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>




{% endblock %}