{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Liste des catégories d'articles</h1>
    <hr>


    </ul>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <tr>
                <th>Nom de la catégorie</th>
            </tr>
            </thead>

            <ul class="list-inline">
                <li>
                    <a href="{{ path('admin_categoryArticle_new') }}" class="btn btn-xs btn-success">
                        Créer une nouvelle catégorie d'articles
                    </a>
                </li>
            </ul>

            <tbody>
            {% for categoryArticle in categoriesArticle %}
                <tr>
                    <td>
                        <a href="{{ path('admin_categoryArticle_show', { 'id': categoryArticle.id }) }}">
                            {{ categoryArticle.titleCategoryArticle }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_categoryArticle_show', { 'id': categoryArticle.id }) }}"
                           class="btn btn-xs btn-primary">
                            Détail
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_categoryArticle_edit', { 'id': categoryArticle.id }) }}"
                           class="btn btn-xs btn-warning">
                            Modifier
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}