{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détail de la catégorie "{{ categoryArticle.titleCategoryArticle }}"</h1>
    <hr>
    <table class="table">
        <tbody>
        <tr>
            <th>Nom</th>
            <td>{{ categoryArticle.titleCategoryArticle }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_categoryArticle_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
        <li>
            <a href="{{ path('admin_categoryArticle_edit', { 'id': categoryArticle.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}