{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Liste des articles</h1>
    <hr>
    <table class="table table-stripped table-condensed table-responsive">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Date de création</th>
            <th>Catégorie</th>
            <th>Auteur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <ul class="list-inline">
            <li>
                <a href="{{ path('admin_article_new') }}" class="btn btn-xs btn-success">
                    Créer un nouvel article
                </a>
            </li>
        </ul>
        <tbody>
        {% for article in articles %}
            <tr>
                <td> {{ article.titleArticle }} </td>
                <td> {{ article.dateCreatedArticle|date('d/m/y') }} </td>
                <td> {{ article.categoryArticle.titleCategoryArticle }} </td>
                <td> {{ article.admin.FirstNameAdmin }}  {{ article.admin.NameAdmin }} </td>
                <td>
                    <a href="{{ path('admin_article_show', { 'id': article.id }) }}"
                       class="btn btn-xs btn-primary">
                        Detail
                    </a>
                </td>
                <td>
                    <a href="{{ path('admin_article_edit', { 'id': article.id }) }}"
                       class="btn btn-xs btn-warning">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}