{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}
    {{ tinymce_init() }}

    <h1>Modifier un article</h1>
    <hr>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_article_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des articles
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-xs btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}