{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}


{% block body %}
        {{ tinymce_init() }}

    <h1>Création d'un article</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_article_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des articles
            </a>
        </li>
    </ul>

{% endblock %}