{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}


{% block body %}
    <h1>Article :</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Id : </th>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <th>Titre de l'article : </th>
            <td>{{ article.titleArticle }}</td>
        </tr>
        <tr>
            <th>Contenu : </th>
            <td>{{ article.contentArticle }}</td>
        </tr>
        <tr>
            <th>Date de création : </th>
            <td>{{ article.dateCreatedArticle|date('d/m/y')  }}</td>
        </tr>
        <tr>
            <th>Image : </th>
            <td><img style="height: 250px; width: 250px;" src="{{ asset('uploads/pictures/' ~ article.imageHeadArticle) }}" alt="img-article"></td>
        </tr>
        <tr>
            <th>Catégorie : </th>
            <td>{{ article.categoryArticle.titleCategoryArticle }}</td>
        </tr>
        <tr>
            <th>Auteur : </th>
            <td>{{ article.admin.FirstNameAdmin }}  {{ article.admin.NameAdmin }}</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="row">
    <div class="col">
        <a href="{{ path('admin_article_index') }}" class="btn btn-sm btn-default">
            Retour à la liste des articles
        </a>
    </div>
    <div class="col">
        <a href="{{ path('admin_article_edit', { 'id': article.id }) }}"
           class="btn btn-sm btn-warning">
            Modifier
        </a>
    </div>
    <div class="col">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-sm btn-danger">
        {{ form_end(delete_form) }}
    </div>



{% endblock %}