{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Liste des catégories</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <tr>
                <th>Nom de la catégorie</th>
            </tr>
            </thead>

            <a href="{{ path('admin_category_new') }}" class="btn btn-xs btn-success">
                Créer une nouvelle catégorie
            </a>

            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.nameCategory }}<td>
                    <td class="list-inline">

                        <a href="{{ path('admin_category_show', { 'id': category.id }) }}"
                           class="btn btn-xs btn-primary">
                            Détail
                        </a>
                    </td>
                    <td>     <a href="{{ path('admin_category_edit', { 'id': category.id }) }}"
                                class="btn btn-xs btn-warning">
                            Modifier
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>

{% endblock %}