{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Création d'une catégorie</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>

    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_category_index') }}" class="btn btn-sm btn-default">
                Retour à la liste
            </a>
        </li>
    </ul>

{% endblock %}