{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détails de la catégorie "{{ category.nameCategory }}"</h1>
    <hr>
    <h2>Sous Catégories</h2>
    <table class="table">
        <tbody>
        {% for subCategory in subCategories %}
            <tr>
                <td>
                    <a href="{{ path('admin_subCategory_show', { 'id': subCategory.id }) }}">
                        {{ subCategory.nameSubCategory }}
                    </a>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_subCategory_show', { 'id': subCategory.id }) }}"
                               class="btn btn-xs btn-primary">
                                Détail
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_subCategory_edit', { 'id': subCategory.id }) }}"
                               class="btn btn-xs btn-warning">
                                Modifier
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h2>Equipes</h2>
    <table class="table">
        <tbody>
        {% for team in teams %}
            <tr>
                <td>
                    <a href="{{ path('admin_team_show', { 'id': team.id }) }}">
                        {{ team.nameTeam }}
                    </a>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_team_show', { 'id': team.id }) }}"
                               class="btn btn-xs btn-primary">
                                Détail
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_team_edit', { 'id': team.id }) }}"
                               class="btn btn-xs btn-warning">
                                Modifier
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_category_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des catégories
            </a>
        </li>
        <li>
            <a href="{{ path('admin_category_edit', { 'id': category.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}