{% extends 'JgeBundle::base.html.twig' %}


{% block body %}
    <div class="container">
        <div id="article-detail" class="row">
            <div class="col-xl-8 offset-2 container-col">
                <h1>{{ article.titleArticle }}</h1>
                <i>publié le {{ article.dateCreatedArticle|date('d/m/y') }} par </i> {{ article.admin.NameAdmin }} {{ article.admin.FirstNameAdmin }}
                <img style="height: 400px; width: 400px;" src="{{ asset('uploads/pictures/' ~ article.imageHeadArticle) }}" alt="img-article">
                <p>{{ article.contentArticle | raw }}</p>
            </div>
        </div>
    </div>



{% endblock %}