{% extends 'JgeBundle::base.html.twig' %}

{% block body %}
    <div class="container">

        <div id="category-detail" class="row">
            <div class="col-xl-8 offset-2 container-col">
                <h1>{{ categoryArticle.titleCategoryArticle }}</h1>
                <hr>
                {% for article in articles %}
                    <h2>{{ article.titleArticle }}</h2>
                    <i>publié le {{ article.dateCreatedArticle|date('d/m/y') }} par </i>
                    {{ article.admin.NameAdmin }}
                    {{ article.admin.FirstNameAdmin }}
                    </br>
                    <img style="height: 400px; width: 400px;" src="{{ asset('uploads/pictures/' ~ article.imageHeadArticle) }}" alt="img-article">
                    <p>{{ article.contentArticle }}</p>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}