{% extends 'JgeBundle::base.html.twig' %}

{% block body %}
    <div id="blog" class="container col-md-12">
        <div class="row">

            <div id="blog-menu"  class="col-md-3 offset-1  container-col">
                <div id ="blog-menu-item">
                    <h5>Catégories : </h5>
                    <ul>
                        {% for category in category %}
                            <li>
                                <a href="{{ path ('page_blog_category_article', {'categoryArticle_id': category.id }) }}">
                                    {{ category.titleCategoryArticle }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>


                    <h5>Tous les articles :</h5>
                    <ul>
                        {% for art in articles %}
                            <li><a href="{{ path ('page_blog_article', {'article_id': art.id }) }}">
                                    {{ art.dateCreatedArticle|date('m/Y') }} {{ art.titleArticle }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="latest-articles" class="col-md-7 offset-1 container-col" >
                <h1>Les 10 derniers articles du club</h1>
                {% for article in articles %}
                    <h2>{{ article.titleArticle }}</h2>
                    <hr>
                    <i>publié le {{ article.dateCreatedArticle|date('d/m/y') }} par </i>
                    {{ article.admin.NameAdmin }} {{ article.admin.FirstNameAdmin }}
                    <br>
                    <img style="height: 400px; width: 400px;" src="{{ asset('uploads/pictures/' ~ article.imageHeadArticle) }}" alt="img-article">
                    <p>{{ article.contentArticle|raw }}</p>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
