{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Liste des Partenaires</h1>

    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('admin_sponsor_new') }}">Ajouter un Partenaire</a>
        </li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom </th>
            <th>Image </th>
            <th>Site </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td><a href="{{ path('admin_sponsor_show', { 'id': sponsor.id }) }}">{{ sponsor.id }}</a></td>
                <td>{{ sponsor.nameSponsor }}</td>
                <td><img  src="{{ asset('uploads/pictures/logo/' ~ sponsor.imageSponsor) }}" alt="img-logosponsor"></td>
                <td>{{ sponsor.webSiteSponsor }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('admin_sponsor_show', { 'id': sponsor.id }) }}">Détail</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('admin_sponsor_edit', { 'id': sponsor.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}