{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Ajouter un Partenaire</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_sponsor_index') }}">Retour à la Liste</a>
        </li>
    </ul>
{% endblock %}