{% extends 'JgeBundle::Admin/baseAdmin.html.twig' %}

{% block body %}
    <h1>Détail du Partenaire</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ sponsor.id }}</td>
        </tr>
        <tr>
            <th>Nom Partenaire</th>
            <td>{{ sponsor.nameSponsor }}</td>
        </tr>
        <tr>
            <th>Image Partenaire</th>
            <td><img  src="{{ asset('uploads/pictures/logo/' ~ sponsor.imageSponsor) }}" alt="img-logosponsor"></td>
        </tr>
        <tr>
            <th>Site Partenaire</th>
            <td>{{ sponsor.webSiteSponsor }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_sponsor_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('admin_sponsor_edit', { 'id': sponsor.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}