{% extends 'JgeBundle::base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row container-col">
            <div id="news" class="col-md-10 offset-1">

                <h1>Espace convocation</h1>
                <br>
                <h3>Bienvenue {{ name }} {{ firstName }}</h3>

            </div>
        </div>
    </div>

{% endblock %}