{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}

    <h1>Liste des sous-catégories</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
            <tr>
                <th>Nom de la sous-catégorie</th>
            </tr>
            </thead>

            <tbody>
            {% for subCategory in subCategories %}
                <tr>
                    <td>
                        <a href="{{ path('admin_subCategory_show', { 'id': subCategory.id }) }}">
                            {{ subCategory.nameSubCategory }}
                        </a>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ path('admin_subCategory_show', { 'id': subCategory.id }) }}"
                                   class="btn btn-xs btn-primary">
                                    Détail
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_subCategory_edit', { 'id': subCategory.id }) }}"
                                   class="btn btn-xs btn-warning">
                                    Modifier
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_subCategory_new') }}" class="btn btn-sm btn-success">
                Créer
            </a>
        </li>
    </ul>
{% endblock %}