{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détails de la sous-catégorie "{{ subCategory.nameSubCategory }}"</h1>
    <hr>
    <h2>Joueurs</h2>
    <table class="table">
        <tbody>
        {% for player in players %}
            <tr>
                <td>
                    <a href="{{ path('admin_member_show', { 'id': player.getMember().id }) }}">
                        {{ player.getMember().getNameMember() }}  {{ player.getMember().getFirstNameMember() }}
                    </a>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_member_show', { 'id': player.getMember().id }) }}"
                               class="btn btn-xs btn-primary">
                                Détail
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_member_edit', { 'id': player.getMember().id }) }}"
                               class="btn btn-xs btn-warning">
                                Modifier
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_subCategory_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des sous-catégories
            </a>
        </li>
        <li>
            <a href="{{ path('admin_subCategory_edit', { 'id': subCategory.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}