{% extends "JgeBundle::Admin/home.html.twig" %}

{% block body %}
    <h1>Détails de la competition "{{ competition.nameCompetition }}"</h1>
    <hr>
    <h2>Matchs</h2>
    <table class="table">
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                    <a href="{{ path('admin_event_show', { 'id': event.id }) }}">
                        {{ event.dateEvent |date('d/m/y') }}
                    </a>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('admin_event_show', { 'id': event.id }) }}"
                               class="btn btn-xs btn-primary">
                                Détail
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_event_edit', { 'id': event.id }) }}"
                               class="btn btn-xs btn-warning">
                                Modifier
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="list-inline">
        <li>
            <a href="{{ path('admin_competition_index') }}" class="btn btn-sm btn-default">
                Retour à la liste des compétitions
            </a>
        </li>
        <li>
            <a href="{{ path('admin_competition_edit', { 'id': competition.id }) }}"
               class="btn btn-sm btn-warning">
                Modifier
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <hr>
{% endblock %}